/EMobiTestUI/.vs
/EMobiTestUI/EMobiTestUI/bin
/EMobiTestUI/EMobiTestUI/obj
debug/EMobi.PushBook.pdb
/EMobiTestUI/PdfiumViewer/obj
/EMobiTestUI/PdfiumViewer/debug
debug/PdfiumViewer.pdb
debug/EMobi.PushBook.exe
debug/nl/PdfiumViewer.resources.dll
debug/nl/PdfiumViewer.resources.dll
debug/PdfiumViewer.dll
EBook.pdb
.vs/English/v16/.suo
EBook/obj/Debug/EBook.csproj.CoreCompileInputs.cache
EBook/obj/Debug/EBook.csproj.GenerateResource.cache
EBook/obj/Debug/EBook.csprojAssemblyReference.cache
EBook/obj/Debug/EBook.pdb
/.vs
/EBook/obj
/English/obj
Debug/debug.log
Debug/English.pdb
/debug/English.pdb
/debug/debug.log
/Tesseract/obj
/Tesseract/bin
Debug/English.pdb
Debug/debug.log
Debug/English.pdb
